@font-face {
    src: url(../font/built.TTF);
    font-family: built
}
@keyframes logo_header {
    from {
        width: 100px;
        opacity: 0;

    }
    to {
        width: 150px;
        opacity: 1;

    }
}
@keyframes background {
    from {
        opacity: 0;
        background-color: #eee
    }
    to {
        opacity: 1;
        background-color: #000
    }
}
a {
    color: #fff;
    text-decoration: none
}
a:hover {
    color: #ddd;
    text-decoration: none
}
body {
    background-color: #000;
    font-family: built;
    animation-duration: 1s;
    animation-name: background;
    animation-iteration-count: 1;
    animation-direction: alternate;
}
.header img {
    width: 150px;

    display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: auto;
	position: absolute;
	left: 0;
    right: 0;
    
    animation-duration: 1s;
    animation-name: logo_header;
    animation-iteration-count: 1;
    animation-direction: alternate;

    transition: 1s
}
.header img:hover {
    width: 200px;
    cursor: pointer;
}
.header {
    font-size: 58px;
    color: white
}
.header span {
    position: absolute;
    float: left;
    top: 40px;
}
span[first] {
    left: 5%;
    transition: .5s
}
span[second] {
    right: 5%;
    transition: .5s
}
span[third] {
    left: 25%;
    transition: .5s
}
span[fourth] {
    right: 25%;
    transition: .5s
}
span:hover p {
    color: #ddd;
    cursor: pointer
}
.center {
    display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
    margin: auto;
    position: absolute;

    top: 0;
	left: 0;
	right: 0;
    bottom: 0;

    z-index: -2;
}
.box {
    display: block;
    background-color: #171e27;
    height: auto;
    width: auto;
    padding: 50px;
    border-radius: 5px;
    position: relative
}
.center input {
    width: 300px;
    height: 30px;
    border: none;
    border-radius: 5px;
    margin: 7px;
    padding-left: 5px
}
h1 {
    font-size:48px;
    position: relative;
    top: -25px;
    color: white
}
h3 {
    font-size:24px;
    top: 25px;
    position: absolute;
    color: white
}
.centerho {
    display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
    margin: auto;
    position: absolute;

	left: 0;
	right: 0;

    z-index: -2;
}