@font-face {
    src: url(../font/built.TTF);
    font-family: built
}
@keyframes logo {
    from {
        width: 500px;
        opacity: 0;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
    50% {
        opacity: 1;
    }
    to {
        width: 100px;
        opacity: 0;
        left: 0;
        right: 0;
        top: 0;
        bottom: 0;
    }
}
@keyframes logo_header {
    from {
        width: 100px;
        opacity: 0;

    }
    50% {
        width: 100px;
        opacity: 0;
    }
    to {
        width: 150px;
        opacity: 1;

    }
}
@keyframes background {
    from {
        opacity: 0;
        background-color: #eee
    }
    to {
        opacity: 1;
        background-color: #000
    }
}

body {
    background-color: #000;
    font-family: built;
    animation-duration: 5s;
    animation-name: background;
    animation-iteration-count: 1;
    animation-direction: alternate;
}
img.open {
    display: flex;
	justify-content: center;
	margin: auto;
	position: absolute;
	left: 0;
	right: 0;
    top: 0;
    bottom: 0;
    width: 100px;
    opacity: 0;

    animation-duration: 5s;
    animation-name: logo;
    animation-iteration-count: 1;
    animation-direction: alternate;
}
img {
    width: 150px;

    display: flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	margin: auto;
	position: absolute;
	left: 0;
    right: 0;
    
    animation-duration: 8s;
    animation-name: logo_header;
    animation-iteration-count: 1;
    animation-direction: alternate;
}
.header {
    font-size: 58px;
    color: white
}
.header span {
    position: absolute;
    float: left;
    top: 40px;
}
span[first] {
    left: 150px;
    animation-delay: 4s;
}
span[second] {
    right: 150px;
    animation-delay: 4.2s;
}